@page "/person/detail/{id:int}"
@inject InsCorpDbContext db

<h3>Detail osoby</h3>

@if (person is not null)
{
    <dl class="row" id="divDetail">
        <dt class="col-sm-2">Jméno</dt>
        <dd class="col-sm-10">
            @person.FirstName
        </dd>
        <dt class="col-sm-2">Příjmení</dt>
        <dd class="col-sm-10">
            @person.LastName
        </dd>
        <dt class="col-sm-2">Datum narození</dt>
        <dd class="col-sm-10">
            @person.DateOfBirth.ToShortDateString()
        </dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">
            @person.Email
        </dd>
        <dt class="col-sm-2">Rodné číslo</dt>
        <dd class="col-sm-10">
            @person.BirthNumber
        </dd>
        <dt class="col-sm-2">Adresa</dt>
        <dd class="col-sm-10">
            @person.Address?.ToString()
        </dd>
        <dt class="col-sm-2">Smlouvy</dt>

        @foreach (var contract in person.Contracts)
        {
            <p>@contract</p>
        }
    </dl>
}
else
{
    <p>ID not found (@id)</p>
}

@code {
    Person person = new();

    [Parameter]
    public int id { get; set; }

    public bool bNotFound = false;

    protected override void OnInitialized()
    {
        person = db.Persons
                 .Include(x => x.Address)
                 .Include(x => x.Contracts)
                 .FirstOrDefault(x => x.Id == id);
    }
}
